/*
 *
 * MMM-Bromont
 *
 * Olivier Gélinas
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.ico-facile {
    border-radius:      50%;
    width:              12px;
    height:             12px;
    background-color: #259d36;
    display:            table-cell;
}

.ico-intermed {
    width:              12px;
    height:             12px;
    background-color: #0068b1;
    display:            table-cell;
}

.ico-difficile {
    width:              12px;
    height:             12px;
    background-color:   #aaaaaa;
    display:            table-cell;
    transform:          rotate(45deg);
}

/* .difficile:before {
    width:              12px;
    height:             12px;
    background-color: #ff0000;
    display:            table-cell;
    transform:          rotate(45deg) translate(0px);
}
.difficile:after {
    width:              12px;
    height:             12px;
    background-color: #ffee00;
    display:            table-cell;
    transform:          rotate(45deg) translate(4px);
}
.tdifficile {
    width:              12px;
    height:             12px;
    background-color: #ffee00;
    display:            table-cell;
    transform:          rotate(45deg) translate(2px);
} */

.easy {
    content:        url(icons/easy.svg);
    display:        inline-block;
}

.intermediate {
    content:        url(icons/intermediate.svg);
    display:        inline-block;
}

.difficult {
    content:        url(icons/difficult.svg);
    display:        inline-block;
}

.hard {
    content:        url(icons/hard.svg);
    display:        inline-block;
}

table.recap {
    display:        inline-block;
}

td.recap {
    text-align:     left;
    vertical-align: middle;
}

td.status_open{
    padding-left:   10px;
    text-align:     right;
    vertical-align: middle;
}

td.status_total{
    text-align:     left;
    vertical-align: middle;
}

.trail_difficulty {
    display:        inline-block;
    width:          20px;
    height:         20px;
    padding-right:  5px;
    margin:         0px;
    text-align:     center;
    vertical-align: middle;
}

td.trail_name {
    padding-left:   20px;
    text-align:     left;
    vertical-align: middle;
}

td.trail_status {
    padding-left:   10px;
    text-align:     center;
    vertical-align: middle;
}